@model IEnumerable<TheLastChapter.Models.CartItem>

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

@if (Model.Count() > 0)
{
    var total = 0.0;
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th></th>
                <th>
                    Author
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                total += (item.Price * item.Quantity);
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.BookId" asp-controller="Books">
                            @item.Book.Title
                        </a>
                    </td>
                    <td>
                        @if (item.Book.Image != null)
                        {
                            <img src="~/img/books/@item.Book.Image" alt="Book Cover" class="thumb" />
                        }
                        else
                        {
                            <img src="~/img/books/placeholder.gif" alt="Book Cover" class="thumb" />
                        }
                    </td>
                    <td>
                        @item.Book.Author
                    </td>
                    <td>
                        @String.Format("{0:c}", item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-route-id="@item.CartItemId"
                           onclick="return confirmDelete();">
                            Remove
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td colspan="3">
                </td>
                <td>@String.Format("{0:c}", total)</td>
                <td colspan="2">
                    <a class="btn btn-primary" asp-action="Index">Keep Shopping</a>
                    <a class="btn btn-primary" asp-action="Checkout">Checkout</a>
                </td>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2>Your Cart is Empty.  You need some Books!</h2>
    <a class="btn btn-primary" asp-action="Index">Start Shopping</a>
}


